@use 'colors' as *;
@use 'vars' as *;

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-weight: 400;
}

:root {
    // --shadow-color: 300deg 13% 0%;
    // --shadow-elevation-low:
    //     0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.19),
    //     0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.19),
    //     0.8px 1.6px 2px -2.5px hsl(var(--shadow-color) / 0.19);
    // --shadow-elevation-medium:
    //     0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.2),
    //     0.7px 1.4px 1.8px -0.8px hsl(var(--shadow-color) / 0.2),
    //     1.6px 3.3px 4.1px -1.7px hsl(var(--shadow-color) / 0.2),
    //     3.9px 7.9px 9.9px -2.5px hsl(var(--shadow-color) / 0.2);
    // --shadow-elevation-high:
    //     0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.19),
    //     0.9px 1.9px 2.4px -0.4px hsl(var(--shadow-color) / 0.19),
    //     1.6px 3.3px 4.1px -0.7px hsl(var(--shadow-color) / 0.19),
    //     2.6px 5.3px 6.6px -1.1px hsl(var(--shadow-color) / 0.19),
    //     4.1px 8.3px 10.4px -1.4px hsl(var(--shadow-color) / 0.19),
    //     6.4px 12.8px 16.1px -1.8px hsl(var(--shadow-color) / 0.19),
    //     9.7px 19.4px 24.4px -2.1px hsl(var(--shadow-color) / 0.19),
    //     14.3px 28.5px 35.9px -2.5px hsl(var(--shadow-color) / 0.19);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;

    background: $background;

    width: 100vw;
    height: 100vh;

    padding: $spacing-large;

    color: $lightest;
}

a {
    text-decoration: none;
}